/* TABLE OF CONTENTS */
/*
   1)   IMPORTS (HAMBURGER MENU)
   2)   FONTS
   3)   HEADER
   4)   NAVBAR
   #)   FOOTER

*/

/**/

/* Imports */

/* Hamburger Menu */
@import "../css/hamburgers.css";

/**/

/* Fonts */

@font-face {
  font-family: "Avenir LT Std", sans-serif;
  src: url(../fonts);
}

/**/

/* Header */
/* Dan Timm's Header */
.nav-bg {
  background-color: rgba(31, 42, 51, 1) !important;
}

/* Navbar */
/* Dan Timm's Navbar */
#nav-logo {
  width: 75px;
}




/*TABLE OF CONTENTS*/

/*1 TYPOGRAPHY*/
/*2 COLOR CLASSES*/
/*3 ICONOGRAPHY*/

/*TYPOGRAPHY*/

* {
  font-family: 'Avenir LT Std', sans-serif;
  color: #27313a;
}

h1 {
  font-weight: 300;
  font-size: calc(30px + 0.7vw)
}

h2 {
  font-weight: 400;
  font-size: calc(24px + 0.6vw);
  color: #cc8651;
  transition: .4s;
}

h2:hover {
  color: white
}

h3 {
  font-weight: 400;
  font-size: calc(18px + 0.7vw);
}

h4 {
  font-weight: 400;
  font-size: calc(16px + 0.7vw);
}

h5 {
  font-weight: 400;
  font-size: calc(12px + 0.7vw);
}

#about h5 {
  font-weight: 400;
  font-size: calc(15px + 1vw);
}

p {
  font-weight: 300;
  font-size: calc(15px + 0.4vw);
  line-height: calc(22px + 0.7vw);
}

a {
  color: #72194a;
  font-weight: 800;
}

a:hover {
  color: #b22774;
  text-decoration: none;
}


/*COLOR CLASSES*/

.navy {
  color: #1f2a33;
}

.orange {
  color: #ad4f2c;
}

.tan {
  color: #cc8651;

}

.magenta {
  color: #72194a;
}

.white {
  color: white;
  transition: .4s;
}

.navy-bg {
  background-color: #27313a;
  color: white;
}

.navy-bg-2 {
  background-color: #1f2a33
}

/*ICONOGRAPHY*/

i {
  font-size: calc(18px + 0.7vw);
  font-weight: 200;
}

i:hover {
  color: #cc8651;
}

i:active {
  color: #ad4f2c;
}

hr {
  border-top: 1px solid #1f2a33;
}



body {

  background-color: #1f2a33;
  background-repeat: no-repeat;
}



/* splash logo styles | positioning and sizing */
.splashlogo {
  width: 25%;
  position: absolute;
  top: 26%;
  left: 36%;


}

@media only screen and (min-width: 320px) {
  .splashlogo {
    width: 77%;
    position: absolute;
    top: 29%;
    left: 12%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 88%;
  }

  .steps {
    position: absolute;
    top: 84%;
    right: -5px;
    width: 23%;
  }

  #nav-logo {
    width: 50px;
  }
}

@media only screen and (min-width: 900px) {
  .splashlogo {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 14%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 50%;
  }


}

@media only screen and (min-width: 768px) {
  .splashlogo {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 31%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 50%;
  }


}


.section {
  margin-top: 75px;
}

.landing {
  background-color: #19252C;
  margin-top: 0;

}

.about {
  background: url("../images/about-bg.jpg")center center;
  background-size: contain;
  height: auto;
  ;
}

.artist {
  background-color: #19252C;
  padding-top: 11px;
  height: 100vh !important;
  display: block;
}

.artist,
h1 {
  color: white;
  text-align: center;
  margin-top: 135px;
}

.majors {
  margin-bottom: 90px;
  margin-top: 70px;

}

.major {
  top: 17px;
  width: 113px;
  left: 124%;
  position: absolute;
  color: white;
  font-size: 16px;
  font-style: oblique;
}

.printitle {
  color: white;
  position: absolute;
  left: 22%
}

.webtitle {
  color: white;
  position: absolute;
  right: 40%;
}

.artistcontainer {
  margin: 20px auto;
  height: 479px;
  overflow: scroll !important;
  padding: 0 60px;
  z-index: 9999;


}

.artistdisplay {
  margin-top: 60px;
  position: relative;
}

.artistcontainer::-webkit-scrollbar {
  width: 5px;
}

.artistcontainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid black;
  border-radius: 10px;
  opacity: .8;
}

.artistcontainer::-webkit-scrollbar-corner {
  display: none;
}

hr {
  border: .75px solid white;
  opacity: .8;
}

.profilepic {
  border-radius: 50%;
  width: 100PX;
  background-color: #aa4f2c;
  height: 100PX;
}

.profilename {
  text-align: right;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 50px;
}

.hiddenhr {
  display: none;
}

.empty-space2 {
  display: none;
}

.artistbtn {
  background: transparent;
  color: white;
  display: none;
}

.artistbtn:hover {
  color: #aa4f2c;
  border: none;
}

.btn:focus {
  box-shadow: none !important;
  border: none !important;
}

.artist-menu {
  display: none;
}

.majoritem {
  color: white;
  margin-left: 33px;
  margin-top: 1px;
}

.majoritem:hover {
  background: none;
  color: #aa4f2c;
}

.mobileartist {
  margin-bottom: 100px;
  display: none;
}

.brienna {
  margin-bottom: 50px;
}

/* mobile viewport for artist section _____*/
@media (max-width: 991px) {
  .empty-space {
    display: none;
  }
}

@media (max-width: 465px) {
  .profilename {
    text-align: right;
    width: 200px;
    position: absolute;
    top: 22px;
    left: -21px;
  }

  .firstname {
    font-size: 18px !important;
  }

  .lastname {
    font-size: 14px !important;
  }

  .empty-space {
    display: none;
  }

  .hiddenhr {
    display: block !important;
  }

  .empty-space2 {

    height: 100px;
  }

  .web {
    margin-bottom: 1520px;
  }

  .major {
    top: 17px;
    width: 113px;
    left: 100%;
    position: absolute;
    color: white;
    font-size: 14px;
  }

  .profilepic {
    height: 75px;
    width: 75px;
  }

  .artistdisplay {
    margin-top: 30px;
  }

  .print {
    margin-bottom: -67px;
  }

  .footerp {
    font-size: 11px !important;
  }

  .artistbtn {
    display: block;
    top: -45px;
    left: 145%;
  }

  .artist,
  h1 {
    margin-right: 100px;
  }

  .print {
    display: none;
  }

  #web {
    display: none;
  }

  .mobileartist {
    display: block;
  }

  .artist-menu {
    background: none;
    border: none;
    padding-top: 4px;
  }

}

/*__________________________________________*/

.hiddenhr {
  display: none;
}

.empty-space2 {
  display: none;
}

/* mobile viewport for artist section _____*/

@media (max-width: 465px) {
  .profilename {
    text-align: right;
    width: 200px;
    position: absolute;
    top: 22px;
    left: -21px;
  }

  .firstname {
    font-size: 18px !important;
  }

  .lastname {
    font-size: 14px !important;
  }

  .empty-space {
    display: none;
  }

  .hiddenhr {
    display: block !important;
  }

  .empty-space2 {

    height: 100px;
  }

  .web {
    margin-bottom: 1520px;
  }

  .major {
    top: 17px;
    width: 113px;
    left: 100%;
    position: absolute;
    color: white;
    font-size: 14px;
  }

  .profilepic {
    height: 75px;
    width: 75px;
  }

  .artistdisplay {
    margin-top: 30px;
  }

  .print {
    margin-bottom: -67px;
  }

  .footerp {
    font-size: 11px !important;
  }

}

/*__________________________________________*/

.firstname {
  font-size: 25px;
  margin-bottom: 0px;
  color: white;
}

.lastname {
  font-size: 18px;
  color: white;
}

.print {
  padding: 20px 10px;
  float: left;
}

.arrow {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 35px;
  transition: right ease 0.5s;
  color: white;
}

.web {
  display: inline-block;
  float: right;
  height: 900px;
  padding: 20px 10px;
}

.empty-space {
  height: 280px;
}


.print a,
.web a {
  color: white;
}

.print a:hover .arrow {
  right: -20px;
}


.web a:hover .arrow {
  right: -20px;
}





/* INTERIOR PAGE */

#sidebar {
  padding: 0 0 50px 0 !important;
  background-color: #27313a;
}

.st-con {
  margin: auto;
}

#artwork {
  margin: 0 auto;
}

#art-row2 {
  margin-top: 30px;
}

#gallery {
  margin: auto;
  text-align: center;
}

#feat {
  font-weight: 900;
  margin-top: 3rem;
}

#go-back {
  margin: auto;
}


.artist-info {
  margin-top: 4rem;
}

#artist-name,
#major,
#artist-stmt {
  color: white
}

#artist-name {
  font-weight: 900;
  margin-top: 2rem;
}

#feat {
  color: #1f2a33;
  font-weight: 900;
}

#artist-hr {
  width: 7rem;
}

#gb-button {
  margin: 3rem 0 0 1rem;
}

.links {
  display: inline-block;
  cursor: pointer;
  margin: auto 60px;
}

.link-icon {
  display: block;
}

.card {
  margin: 0 auto 30px !important;
}

#b-icon {
  font-size: 1.25rem;
  margin-top: -4px
}

.footer {
  background-color: #1F2A33;
  height: 62px;
  position: absolute;
  bottom: 0;
  width: 100%;

}

#desktop-footer {
  position: relative !important;
  margin-top: -15px;
}

#mobile-footer {
  position: relative !important;

}

@media (min-width: 1200px) {
  #mobile-footer {
    display: none;
  }

  #desktop-footer {
    display: block;
  }
}

@media (max-width: 1200px) {
  #desktop-footer {
    display: none;

  }

  .col-xl-7 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.footerp {
  font-size: 15px;
  text-align: center;
  margin-top: 14px;
  color: white;
  opacity: .8;
  display: block;
  padding-top: 15px;
}

.footerp:hover {
  color: #aa4f2c;
}

/* INTERIOR PAGE Mobile Phone QUERY */

@media (max-width: 392px) {
  .links {
    margin: auto 30px;
  }

  #link-area {
    margin-top: 30px;
  }
}

/*SPLASH PAGE CUSTOM CSS*/
/*SPLASH PAGE ABOUT DIV CUSTOM CSS*/
/*SPLASH PAGE CUSTOM CSS*/

.vertical-rule {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  /*height: 100vh;*/
  width: 1px;
  margin-left: 1vw !important;
}

.btn-1 {
  background-color: #27313a;
  color: white;
}


@media (min-width: 576px) {

  #about h2 {
    font-weight: 400;
    font-size: calc(26px + 0.8vw);
    color: #cc8651;
  }

  #about h5 {
    font-weight: 400;
    font-size: calc(15px + 1vw);
  }

  #about p {
    font-weight: 300;
    font-size: calc(13px + 0.5vw);
    line-height: calc(22px + 0.9vw);
  }

  #about .space {
    margin-top: 30px !important;
  }
}