/* TABLE OF CONTENTS */
/*
   1)   IMPORTS (HAMBURGER MENU)
   2)   FONTS
   3)   HEADER
   4)   NAVBAR
   #)   FOOTER

*/

/**/

/* Imports */

/* Hamburger Menu */
@import "../css/hamburgers.css";

/**/

/* Fonts */

@font-face {
  font-family: "Avenir LT Std", sans-serif;
  src: url(../fonts);
}

/**/

/* Header */
/* Dan Timm's Header */
.nav-bg {
  background-color: rgba(31, 42, 51, 1);!important;
}

/* Navbar */
/* Dan Timm's Navbar */
#nav-logo {
  width: 75px;
}

/*TABLE OF CONTENTS*/

/*1 TYPOGRAPHY*/
/*2 COLOR CLASSES*/
/*3 ICONOGRAPHY*/

/*TYPOGRAPHY*/

* {
  font-family: 'Avenir LT Std', sans-serif;
  color: #27313a;}

.unna{
  font-family: Unna;
}

h1 {
  font-weight: 300;
  font-size: calc(30px + 0.7vw)}

h2 {
  font-weight: 400;
  font-size: calc(24px + 0.7vw);
  color: #cc8651;}

h3 {
  font-weight: 400;
  font-size: calc(18px + 0.7vw);}

h4 {
  font-weight: 400;
  font-size: calc(16px + 0.7vw);}

h5 {
  font-weight: 400;
  font-size: calc(12px + 0.7vw);}
h6{
  font-weight: 400;
  font-size: calc(10px + 0.7vw);}

p {
  font-weight: 300;
  font-size: calc(15px + 0.4vw);
  line-height: calc(22px + 0.7vw);}

a {
  color: #72194a;
  font-weight: 800;
}

a:hover {
  color: #b22774;
  text-decoration: none;
}


/*COLOR CLASSES*/

.navy {color: #1f2a33;}
.orange {color: #ad4f2c;}
.tan {color: #cc8651;}
.magenta {color: #72194a;}
.white {color: white;}
.navy-bg {background-color: #27313a; color: white;}
.navy-bg-2 {background-color: #1f2a33}

/*ICONOGRAPHY*/

i {
  font-size: calc(18px + 0.7vw);
  font-weight: 200;}

i:hover {
  color: #cc8651;}

i:active {
  color: #ad4f2c;}

hr {
  border-top: 1px solid #1f2a33;}



body {

  background-color: #1f2a33;
  background-repeat: no-repeat;
}

/* splash logo styles | positioning and sizing */
.splashlogo {
  width: 25%;
  position: absolute;
  top: 26%;
  left: 36%;


}
.splash-arrow {
  width: 4%;
  top: 93%;
  left: 48%;
  position: absolute;
}
.lg-bg {
  position: absolute;
  top: -157%;
  left: 154%;
  width: 156%;
}

@media only screen and (min-width: 320px) {
  .splashlogo {
    width: 77%;
    position: absolute;
    top: 29%;
    left: 12%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 88%;
  }

  .steps {
    position: absolute;
    top: 84%;
    right: -5px;
    width: 23%;
  }

  #nav-logo {
    width: 50px;
  }
}

@media only screen and (min-width: 900px) {
  .splashlogo {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 14%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 50%;
  }


}

@media only screen and (min-width: 768px) {
  .splashlogo {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 31%;
  }

  .arc {
    position: absolute;
    top: 0%;
    left: -135px;
    width: 50%;
  }


}


.section {
  margin-top: 75px;
}
.landing {
  background-color: #1b242b;
  margin-top: 0;

}

.about {
  background: url("../images/about-bg.jpg")center center;
  background-size: contain;
  height: auto;
;
}

.artist {
  background-color: #1f2a33;
}


.artist-info {
  margin-top: 0;
  padding: 100px 50px 15px;
  min-height: 90.5vh;
  background-color: #1f2a33;

}

.artist-text {
  color: white;
}
#artist-name {
  margin-top: 50px;
}
#artist-hr {
  max-width: 200px;
  color: white;
  border-top: 1px solid white;
}
#artist-stmt {
  font-size: 1em;
}
#sidebar {
  padding: 0!important;
}
.st-con {
  margin: auto;
}

#artwork {
  margin:  auto;
}

#art-row2 {
  margin-top: 30px;
}

#gallery {
  margin: 60px auto 0;
  text-align: center;
}

#feat {
  font-weight: 900;
}

#go-back {
  margin: auto;
}







