body{

    background-repeat: no-repeat;
    font-family:sans-serif, "Avenir Next";
}

/* splash logo styles | positioning and sizing */
.splashlogo {
    width: 25%;
    position: absolute;
    top: 26%;
    left: 36%;"
}

@media only screen and (min-width: 320px){
    .splashlogo {
        width: 77%;
        position: absolute;
        top: 29%;
        left: 12%;
    }

    .arc {
        position: absolute;
        top: 0%;
        left: -135px;
        width: 88%;
    }

    .steps {
        position: absolute;
        top: 84%;
        right: -5px;
        width: 23%;
    }

    #nav-logo {
        width: 37px;
    }
}

@media only screen and (min-width: 900px){
    .splashlogo {
        width: 40%;
        position: absolute;
        top: 23%;
        left: 14%;
    }

    .arc {
        position: absolute;
        top: 0%;
        left: -135px;
        width: 50%;
    }


}

@media only screen and (min-width: 768px){
    .splashlogo {
        width: 40%;
        position: absolute;
        top: 23%;
        left: 31%;
    }

    .arc {
        position: absolute;
        top: 0%;
        left: -135px;
        width: 50%;
    }


}



.landing {
background-color: rgb(31,42,51);

}

.about {
    background: url("../images/about-bg.jpg")center center;
    background-size: contain;
    height: auto;;
}

.artist {
    background-color: blue;
}

/* TABLE OF CONTENTS */
/*
   1)   IMPORTS (HAMBURGER MENU)
   2)   FONTS
   3)   HEADER
   4)   NAVBAR
   #)   FOOTER

*/

/**/

/* Imports */

/* Hamburger Menu */
@import "hamburgers.css";

/**/

/* Fonts */

@font-face {
    font-family: "Avenir LT Std", sans-serif;
    src: url(../fonts);
}

/**/

/* Header */
/* Dan Timm's Header */
.nav-bg {
    background-color: #1f2a33 !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* Navbar */
/* Dan Timm's Navbar */
#nav-logo {
    width: 75px;
}
